@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class = "Container">
    <a href="~/User/SignUp" class="btn btn-success">Manager/Cashier</a>
</div>
<body class="hold-transition category-page">
     </body>
     <style>
.category-page{
    background-image:url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
     </style>